.main-form-component {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 35%;
    margin-top: 2rem;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.text-area h2 {
    padding-top: 2rem;
}

.text-area p {
    padding-top: 2rem
}

.dough-size {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    margin-top: 2rem;

}

.size {
    border-radius: 10%;
}

.container-1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
    padding-inline-end: 1rem;
    margin-top: 2rem;
}


.additives-columns {
    display: flex;
    flex-wrap: wrap;
}

.additive-item {
    flex-basis: 33.33%;
    padding: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 20px 20px / 10px 10px 10px 10px;
    margin-top: 20px;

}

.additives-area h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.additives-area p {
    margin-bottom: 2rem;
}

.order-note-container {
    margin-top: 5rem
}

.quantity-selector {
    display: flex;
    flex-direction: row;


}

.quantity-selector-button {
    width: 2em;
    height: 3rem;
    font-size: 20px;
    background-color: #FDC913;
    border-radius: 10%;
    border-color: #FDC913;
}

.quantity-selector input {
    width: 2em;
    text-align: center;
    font-size: 1em;
}

.quantity-sum-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20rem;
}

.order-price-card {
    border: 1px solid #ccc;
    border-radius: 20px 20px 20px 20px / 10px 10px 10px 10px;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 20px;
    width: 100%;
    margin-left: 2rem;
    height: 10rem;
    font-size: 17px;

}

#row-sum-card {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 5px;


}

.full-width-button {
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    background-color: #FDC913;
    padding: 10px 30px;
    border: solid #FDC913 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: center;


}

.full-width-button:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #FDC913;
    border: solid 2px #FDC913;
}